[[source]]
url = "http://mirror.kakao.com/pypi/simple/"
verify_ssl = false
name = "kakao"

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = {version=">=2.20.0", index="kakao"}
simplejson = {version=">=3.13.2", index="kakao"}
beautifulsoup4 = {version=">=4.7.1", index="kakao"}
lxml = {version=">=4.3.2", index="kakao"}
openpyxl = {version=">=2.5.4", index="kakao"}
xlrd = {version=">=1.1.0", index="kakao"}
pandas = {version=">=0.24.0", index="kakao"}

[requires]
python_version = "3.7"
